<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ж/Д вокзал</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        body {
            background-color: rgba(39, 63, 112);
        }
        h1, h4, h5, th, tr, td, thead, tbody {
            color: white;
        }

    </style>

</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-dark justify-content-between" style="background-color: rgba(9,11,42,0.80)">
    </ul>
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/admin}">Ж/Д Вокзал</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/admin}">Расписание</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/admin_trains}">Поезда</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/all_routes}">Рейсы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/users}">Пользователи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Выход</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="wrapper" style="max-width: 1200px; margin: 0 auto">
    <br>
    <blockquote class="blockquote text-center"><h1>Поезда</h1></blockquote>
    <div class="row">
        <div class="text-center">
            <h4>Поиск поезда по любому критерию:</h4>
            <form th:action="@{/}">
                <input type="text" name="keyword" id="keyword" size="30" th:value="${keyword}" required/>
                <input type="submit" class="btn btn-success btn-sm" value="Поиск"/>
                <input type="button" class="btn btn-warning btn-sm" value="Очистить" id="btnClear"
                       onclick="clearSearch()"/>
            </form>
        </div>
    </div>
    <table id="1" class="table table-striped  table-hover">
        <thead>
        <tr>
            <th scope="col" onclick="sortTable(0)" style="cursor: pointer">ID</th>
            <th scope="col">Название поезда</th>
            <th scope="col">Количество вагонов</th>
            <th scope="col">Количество мест купе</th>
            <th scope="col">Количество мест плацкарт</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="train: ${listTrain}">
            <th scope="row" class="text-white" th:text="${train.id}">ID отсутствует</th>
            <th scope="row" class="text-white" th:text="${train.name}">Название поезда отсутствует</th>
            <th scope="row" class="text-white" th:text="${train.car_num}">Количество вагонов отсутствует</th>
            <th scope="row" class="text-white" th:text="${train.compartment_num}">Количество мест купе отсутствует</th>
            <th scope="row" class="text-white" th:text="${train.berth_num}">Количество мест плацкарт отсутствует</th>

            <th>
                <button id="edit-train" type="button" class="btn btn-primary" data-toggle="modal" data-target="#trainEditDialog"
                        th:data-trainId="${train.id}"><i class="fas fa-edit"></i></button>

                <a th:href="@{'/train_delete/'+${train.id}}"><button type="button" class="btn btn-danger">
                    <i class="far fa-trash-alt"></i></button></a>
            </th>
        </tr>
        </tbody>
    </table>
    <p class="text-white">
        <script type="text/javascript">
            function getRowsColumn() {
                let table = document.getElementById('1')
                let tBody = table.querySelector('tbody')
                const count = tBody.querySelectorAll('tr').length;
                document.write('Количество поездов в таблице: ' + count)
            }

            getRowsColumn()
        </script>
    </p>
    <blockquote class="blockquote text-center">
        <button id="new-train" type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#trainNewDialog">Добавить поезд</button>
    </blockquote>

</div>
<script src="https://kit.fontawesome.com/4e798326bd.js" crossorigin="anonymous"></script>


<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/}]]";
    }


    function sortTable(n) {
        let table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("1");
        switching = true;
        dir = "asc";
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("th")[n];
                y = rows[i + 1].getElementsByTagName("th")[n];
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }

</script>

<div class="modal fade" id="trainEditDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black" id="exampleModalLabel">Редактирование поезда</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="train-id">
                    <div class="form-group">
                        <label for="train-name" class="col-form-label">Название поезда</label>
                        <input type="text" class="form-control" id="train-name">
                    </div>
                    <div class="form-group">
                        <label for="train-car" class="col-form-label">Количество вагонов</label>
                        <input type="number" class="form-control" id="train-car">
                    </div>
                    <div class="form-group">
                        <label for="train-comp" class="col-form-label">Количество мест купе</label>
                        <input type="number" class="form-control" id="train-comp">
                    </div>
                    <div class="form-group">
                        <label for="train-berth" class="col-form-label">Количество мест плацкарт</label>
                        <input type="text" class="form-control" id="train-berth">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button id="save-train-button" type="button" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>




<script>
    $('#trainEditDialog').on('shown.bs.modal', function (event) {
        let button = $(event.relatedTarget) // Button that triggered the modal
        let trainId = button.data('trainid') // Extract info from data-* attributes

        if (trainId) {
            $.get({
                url: '/api/v1/trains/' + trainId,
                success: (data) => {
                    let modal = $(this)
                    modal.find('#train-id').val(data.id)
                    modal.find('#train-name').val(data.name)
                    modal.find('#train-car').val(data.car_num)
                    modal.find('#train-comp').val(data.compartment_num)
                    modal.find('#train-berth').val(data.berth_num)
                },
                error: (err) => {
                    alert(err);
                }
            });
        }
    })

    $('#save-train-button').click(function() {
        let modal = $('#trainEditDialog')
        let train = {
            name: modal.find('#train-name').val(),
            car_num: modal.find('#train-car').val(),
            compartment_num: modal.find('#train-comp').val(),
            berth_num: modal.find('#train-berth').val(),

        };
        if (modal.find('#train-id').val()) {
            train.id = modal.find('#train-id').val()
        }
        $.ajax({
            url: '/api/v1/trains',
            type: 'POST',
            data: JSON.stringify(train),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: () => {
                location.reload()
            },
            error: (err) => {
                alert(err);
            }
        })

        modal.modal('hide');
    });
</script>





<div class="modal fade" id="trainNewDialog" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black" id="ModalLabel">Добавление нового поезда</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="train-idn">
                    <div class="form-group">
                        <label for="train-name" class="col-form-label">Название поезда</label>
                        <input type="text" class="form-control" id="train-namen">
                    </div>
                    <div class="form-group">
                        <label for="train-car" class="col-form-label">Количество вагонов</label>
                        <input type="number" class="form-control" id="train-carn">
                    </div>
                    <div class="form-group">
                        <label for="train-comp" class="col-form-label">Количество мест купе</label>
                        <input type="number" class="form-control" id="train-compn">
                    </div>
                    <div class="form-group">
                        <label for="train-berth" class="col-form-label">Количество мест плацкарт</label>
                        <input type="text" class="form-control" id="train-berthn">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button id="save-new-train-button" type="button" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>




<script>
    $('#save-new-train-button').click(function() {
        let modal = $('#trainNewDialog')
        let train = {
            name: modal.find('#train-namen').val(),
            car_num: modal.find('#train-carn').val(),
            compartment_num: modal.find('#train-compn').val(),
            berth_num: modal.find('#train-berthn').val(),
        };
        $.ajax({
            url: '/api/v1/trains',
            type: 'POST',
            data: JSON.stringify(train),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: () => {
                location.reload()
            },
            error: (err) => {
                alert(err);
            }
        })

        modal.modal('hide');
    });
</script>
</body>
</html>